@import "./utils/reset.scss";
@import "./utils/functions.scss";
@import "./utils/responsive.scss";
@import "./utils/anime.scss";
@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./utils/chic.scss";
@import "./utils/note-enchant.scss";
@import "./utils/delice.scss";
@import "./utils/palette.scss";



// Header
header {
    width: 100%;
    height: 15vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    background-color: $bck-clr;
    .logo {
        a {
            @include link;
            font-size: 5rem;
            letter-spacing: -4px;
        }
    }
}

// Body
body {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 100px;
}    
.menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;   
    &__content {
        display: -webkit-box;
        display: flex;
        @for $i from 1 through 4{
            &--#{$i} {
            width: 400px;
            height: 560px;
            margin: 2rem;
            }
        }
        &--1 {
            background-color: #FEDFDB;
            box-shadow: $shdw;
            i {
                font-size: 5rem;
                background: -webkit-gradient(linear, left top, right top, from(#f63250), to(#FC845D));
                background: linear-gradient(90deg, #f63250, #FC845D);
                -webkit-background-clip: text;
                        background-clip: text;
                color: transparent;
            }
            p {
                font-family: $txt-note;
                font-size: 2.5rem;
                color: $clr-note;
            }
        }
        &--2 {
            background-color: #FDF5FD;
            box-shadow: $shdw;
            p {
                font-family: $txt-chic;
                font-size: 1.5rem;
                background: -webkit-gradient(linear, left top, right top, color-stop(20%, #BC771F), to(#8762F4));
                background: linear-gradient(90deg, #BC771F 20%, #8762F4);
                -webkit-background-clip: text;
                        background-clip: text;
                color: transparent;
            } 
        }
        &--3 {
            background-color: #F9F9F9;
            box-shadow: $shdw;
            p {
                font-family: $txt-del;
                font-size: 2rem;
                background: -webkit-gradient(linear, left top, right top, from(#0039DF), to(#008AF6));
                background: linear-gradient(90deg, #0039DF, #008AF6);
                -webkit-background-clip: text;
                        background-clip: text;
                color: transparent;
            }
        }
        &--4 {
            background-color: #FDFFFD;
            box-shadow: $shdw;
            p {
                font-family: $txt-pal;
                font-size: 2.2rem;
                background: -webkit-gradient(linear, left top, right top, from(#008100), to(#BDFE80));
                background: linear-gradient(90deg, #008100, #BDFE80);
                -webkit-background-clip: text;
                        background-clip: text;
                color: transparent;
            }
        }
    }    
}

.note {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    text-align: center;
    img {
        width: 30%;
        height: auto;
    }
    &__menu {
        &--1 p{
            font-family: $txt-menu;
            font-size: 3rem;
            text-transform: uppercase;
            margin-top: 20px;
        }
        &--2 p{
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: #BC771F;
            font-size: 3rem;
            margin-top: 20px;
        }
        &--3 p{
            font-family: $txt-menu;
            color: #3888F3;
            font-size: 3rem;
            margin-top: 20px;
        }
        &--4 p{
            font-family: $txt-menu;
            color: #82BB60;
            font-size: 3rem;
            margin-top: 20px;
        }
    }
}
.proch{
    width: 100%;
    height: 79vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    h4 {
        font-size: 6rem;
        font-family: $txt;
        color: $head-clr;
    }
}

.soon {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
    a {
        font-family: $txt;
        text-decoration: none;
        color: $head-clr;
        font-size: 1.8rem;
        background-color: $bck-clr;
        padding: 15px;
        border-radius: 20px;
        z-index: 1;
    }
    .points {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        margin-top: -20px;
        font-size: 5rem;
        color: $head-clr;
        z-index: -1;
    }
} 

// Footer
footer {
    width: 100%;
    height: 4%;
    padding: 2rem;
    background-color: $bck-clr;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
    position: fixed;
    bottom: 0;
    a {
        @include link;
    }
}


//Aligne horizontalement les tables
table {
    margin-left: auto;
    margin-right: auto;
}
//Selection du deuxième td
td:nth-child(2) {
    text-align: end;
}