

$txt: 'Montserrat', sans-serif;

$bck-clr: #529C88;

$head-clr: #FFC953;

$shdw: 1px 0 10px #a5a5a5;

$shake-intensity: 3%;

$txt-note: 'Devonshire', cursive;
$clr-note: #3d1319;

$txt-chic: 'Croissant One', cursive;

$txt-del: 'Dancing Script', cursive;

$txt-pal: 'Kaushan Script', cursive;

$txt-menu: 'Kalam', cursive;