.container__pal {
    margin-top: 20px;
    font-family: $txt-menu;
    color: #000000;
    width: 60%;
}


.menu__pal {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    font-family: $txt-pal;
    background: -webkit-gradient(linear, left top, right top, from(#008100), to(#BDFE80));
    background: linear-gradient(90deg, #008100, #BDFE80);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    font-size: 5rem;
    margin: 5rem;
    margin-bottom: 10rem;
}
.pretable__pal {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    font-size: 2.5rem;
    margin: 30px;
    img {
        width: 30%;
        height: 2%;
    }
}
.table__pal {
    @include table;
}