/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

a {
  text-decoration: none;
}

.note {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 1;
  background-color: #fffFFF00;
}

.note:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.5;
}

.mention:hover {
  -webkit-animation: wiggle 100ms ease-in-out 3;
  animation: wiggle 100ms ease-in-out 3;
}

.contact:hover {
  -webkit-animation: wiggle 100ms ease-in-out 3;
  animation: wiggle 100ms ease-in-out 3;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  85% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  95% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes wiggle {
  0% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  85% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  95% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.point--1 {
  animation: points 900ms 200ms ease-in-out infinite alternate-reverse;
}

.point--2 {
  animation: points 900ms 400ms ease-in-out infinite alternate-reverse;
}

.point--3 {
  animation: points 900ms 600ms ease-in-out infinite alternate-reverse;
}

@-webkit-keyframes points {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes points {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pretable__note p {
  position: relative;
}

.pretable__note p:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #3d1319;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pretable__note p:hover:after {
  width: 100%;
}

.pretable__chic--1 p {
  position: relative;
}

.pretable__chic--1 p:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #C67412;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pretable__chic--1 p:hover:after {
  width: 100%;
}

.pretable__chic--2 p {
  position: relative;
}

.pretable__chic--2 p:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #A56799;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pretable__chic--2 p:hover:after {
  width: 100%;
}

.pretable__chic--3 p {
  position: relative;
}

.pretable__chic--3 p:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #6E4CCC;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pretable__chic--3 p:hover:after {
  width: 100%;
}

.pretable__del--1 p {
  position: relative;
}

.pretable__del--1 p:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #0128DD;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pretable__del--1 p:hover:after {
  width: 100%;
}

.pretable__del--2 p {
  position: relative;
}

.pretable__del--2 p:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #0770F3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pretable__del--2 p:hover:after {
  width: 100%;
}

.pretable__del--3 p {
  position: relative;
}

.pretable__del--3 p:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #229DF9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pretable__del--3 p:hover:after {
  width: 100%;
}

.pretable__pal p {
  position: relative;
}

.pretable__pal p:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #FFF;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(90deg, #008100, #BDFE80);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pretable__pal p:hover:after {
  width: 100%;
}

.container__chic {
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 60%;
}

.menu__chic {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Croissant One", cursive;
  font-size: 3rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #BC771F), to(#8762F4));
  background: linear-gradient(90deg, #BC771F 20%, #8762F4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 10rem;
}

.pretable__chic--1 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: #C67412;
}
.pretable__chic--2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: #A56799;
}
.pretable__chic--3 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: #6E4CCC;
}
.pretable__chic img {
  width: 300px;
  height: auto;
}

.table__chic--1 {
  table-layout: fixed;
  width: 80%;
  font-size: 1.4rem;
  margin-bottom: 100px;
  border-collapse: separate;
  border-spacing: 30px;
  color: #C67412;
}
.table__chic--2 {
  table-layout: fixed;
  width: 80%;
  font-size: 1.4rem;
  margin-bottom: 100px;
  border-collapse: separate;
  border-spacing: 30px;
  color: #A56799;
}
.table__chic--3 {
  table-layout: fixed;
  width: 80%;
  font-size: 1.4rem;
  margin-bottom: 100px;
  border-collapse: separate;
  border-spacing: 30px;
  color: #6E4CCC;
}

.fin p {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Devonshire", cursive;
  font-size: 2rem;
  margin-top: 20px;
}
.fin p img {
  width: 3%;
  margin-right: 10px;
}

.container__note {
  margin-top: 20px;
  font-family: "Kalam", cursive;
  color: #3d1319;
  width: 60%;
}

.menu__note p {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Devonshire", cursive;
  font-size: 3.5rem;
  margin: 5rem;
  margin-bottom: 10rem;
}
.menu__note p img {
  width: 5rem;
}

.pretable__note {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-size: 2.5rem;
  margin: 30px;
}
.pretable__note img {
  width: 30%;
  height: 2%;
}

.table__note {
  table-layout: fixed;
  width: 80%;
  font-size: 1.4rem;
  margin-bottom: 100px;
  border-collapse: separate;
  border-spacing: 30px;
}

.fin p {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Devonshire", cursive;
  font-size: 2rem;
  margin-top: 20px;
}
.fin p img {
  width: 3%;
  margin-right: 10px;
}

.container__del {
  margin-top: 20px;
  font-family: "Kalam", cursive;
  width: 50%;
}

.menu__del {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #0038DF), to(#008AF6));
  background: linear-gradient(90deg, #0038DF 20%, #008AF6);
  -webkit-background-clip: text;
  background-clip: text;
  color: #FFFFFF00;
  margin: 10rem;
}

img {
  width: 300px;
  height: auto;
}

.pretable__del--1 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: #000;
}
.pretable__del--2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: #000;
}
.pretable__del--3 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: #000;
}

.table__del--1 {
  table-layout: fixed;
  width: 80%;
  font-size: 1.4rem;
  margin-bottom: 100px;
  border-collapse: separate;
  border-spacing: 30px;
  color: #000;
}
.table__del--2 {
  table-layout: fixed;
  width: 80%;
  font-size: 1.4rem;
  margin-bottom: 100px;
  border-collapse: separate;
  border-spacing: 30px;
  color: #000;
}
.table__del--3 {
  table-layout: fixed;
  width: 80%;
  font-size: 1.4rem;
  margin-bottom: 100px;
  border-collapse: separate;
  border-spacing: 30px;
  color: #000;
}

.container__pal {
  margin-top: 20px;
  font-family: "Kalam", cursive;
  color: #000000;
  width: 60%;
}

.menu__pal {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Kaushan Script", cursive;
  background: -webkit-gradient(linear, left top, right top, from(#008100), to(#BDFE80));
  background: linear-gradient(90deg, #008100, #BDFE80);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 5rem;
  margin: 5rem;
  margin-bottom: 10rem;
}

.pretable__pal {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-size: 2.5rem;
  margin: 30px;
}
.pretable__pal img {
  width: 30%;
  height: 2%;
}

.table__pal {
  table-layout: fixed;
  width: 80%;
  font-size: 1.4rem;
  margin-bottom: 100px;
  border-collapse: separate;
  border-spacing: 30px;
}

header {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #529C88;
}
header .logo a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #FFC953;
  font-size: 5rem;
  letter-spacing: -4px;
}

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 100px;
}

.menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.menu__content {
  display: -webkit-box;
  display: flex;
}
.menu__content--1 {
  width: 400px;
  height: 560px;
  margin: 2rem;
}
.menu__content--2 {
  width: 400px;
  height: 560px;
  margin: 2rem;
}
.menu__content--3 {
  width: 400px;
  height: 560px;
  margin: 2rem;
}
.menu__content--4 {
  width: 400px;
  height: 560px;
  margin: 2rem;
}
.menu__content--1 {
  background-color: #FEDFDB;
  box-shadow: 1px 0 10px #a5a5a5;
}
.menu__content--1 i {
  font-size: 5rem;
  background: -webkit-gradient(linear, left top, right top, from(#f63250), to(#FC845D));
  background: linear-gradient(90deg, #f63250, #FC845D);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.menu__content--1 p {
  font-family: "Devonshire", cursive;
  font-size: 2.5rem;
  color: #3d1319;
}
.menu__content--2 {
  background-color: #FDF5FD;
  box-shadow: 1px 0 10px #a5a5a5;
}
.menu__content--2 p {
  font-family: "Croissant One", cursive;
  font-size: 1.5rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #BC771F), to(#8762F4));
  background: linear-gradient(90deg, #BC771F 20%, #8762F4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.menu__content--3 {
  background-color: #F9F9F9;
  box-shadow: 1px 0 10px #a5a5a5;
}
.menu__content--3 p {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#0039DF), to(#008AF6));
  background: linear-gradient(90deg, #0039DF, #008AF6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.menu__content--4 {
  background-color: #FDFFFD;
  box-shadow: 1px 0 10px #a5a5a5;
}
.menu__content--4 p {
  font-family: "Kaushan Script", cursive;
  font-size: 2.2rem;
  background: -webkit-gradient(linear, left top, right top, from(#008100), to(#BDFE80));
  background: linear-gradient(90deg, #008100, #BDFE80);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.note {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
}
.note img {
  width: 30%;
  height: auto;
}
.note__menu--1 p {
  font-family: "Kalam", cursive;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 20px;
}
.note__menu--2 p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #BC771F;
  font-size: 3rem;
  margin-top: 20px;
}
.note__menu--3 p {
  font-family: "Kalam", cursive;
  color: #3888F3;
  font-size: 3rem;
  margin-top: 20px;
}
.note__menu--4 p {
  font-family: "Kalam", cursive;
  color: #82BB60;
  font-size: 3rem;
  margin-top: 20px;
}

.proch {
  width: 100%;
  height: 79vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.proch h4 {
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  color: #FFC953;
}

.soon {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 30px;
}
.soon a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #FFC953;
  font-size: 1.8rem;
  background-color: #529C88;
  padding: 15px;
  border-radius: 20px;
  z-index: 1;
}
.soon .points {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: -20px;
  font-size: 5rem;
  color: #FFC953;
  z-index: -1;
}

footer {
  width: 100%;
  height: 4%;
  padding: 2rem;
  background-color: #529C88;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}
footer a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #FFC953;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td:nth-child(2) {
  text-align: end;
}

/*# sourceMappingURL=style.css.map */
